{% extends "layout.html" %}
{% block content %}
    <div class="flash">
        <span class="octicon octicon-server"></span> {{server_name}}
    </div>
    {% for dim_name, dimension in dimensions.iteritems() %}
        <div>
            <h2>{{dim_name}}</h2>
            <div id="d_{{dim_name | replace('.', '_')}}"></div>
        </div>

        <script type="text/javascript">
            var columns = _.map({{dimension.metrics | tojson}}, function (metric, metricName) {
                var values = _.map(metric.points, function (p) {return p.value;});
                values.unshift(metricName);
                return values;
            });
            var x = _.map({{dimension.metrics | tojson}}, function (metric, metricName) {
                var timestamps = _.map(metric.points, function (p) {return p.timestamp * 1000;});
                timestamps.unshift('x');
                return timestamps
            })[0];
            columns.unshift(x);

            c3.generate({
                bindto: '#d_{{dim_name | replace('.', '_')}}',
                size: {
                    width: 730,
                    height: 320
                },
                data: {
                    x: 'x',
                    columns: columns
                },
                color: {
                    pattern: {{base.colors | tojson}}
                },
                axis: {
                    x: {
                        type: 'timeseries',
                        tick: {
                            format: '%Y-%m-%d %H:%M'
                        }
                    }
                }
            });
        </script>
    {% endfor %}
{% endblock %}
